body {
  font-family: Roboto;
  font-size: 14px;
  background-color: #fafafa;
  padding: 32px 32px 0 32px;
  overflow: hidden !important;
}
input {
  display: inline-block !important;
  margin-right: 8px;
}
h5 {
  margin-bottom: 4px !important;
}
svg {
  zoom:0.8;
  position: fixed;
  right: 10px;
  top: 230px;
}

label {
  font-weight: 400 !important;
  margin-bottom: 4px !important;
}

div.example {
  margin-top: -20px;
  margin-left: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #b1b1b1;
}



/* div.fixed {
  position: fixed;
  bottom: 0px;
  background: #ffffff;
  width: 440px;
  left: 0px;
  padding-left: 40px;
  padding-top: 16px;
  border-top: 1px solid #efefef;
} */
hr {
  margin-top: 1 !important;
  margin-bottom: 1.5rem !important;
}

#myform {
  height: 390px;
  overflow: auto;
  margin-top: 2rem !important;
  margin-bottom: 1.0rem;
  }
p {
  margin-bottom: 1rem !important;
}
p.desc {
  color:#777;
  line-height: 20px !important;
  margin-bottom: 0px !important;
}
.button.button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary, input[type=button].button-primary {
  background-color: #2354C3 !important;
  border: 1px solid #2354C3;
}
